VITE_SUPABASE_URL=https://htusbrxlkgdfmynjvtry.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0dXNicnhsa2dkZm15bmp2dHJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NTcwNjUsImV4cCI6MjEwNDUzMzA2NX0.S791wc9UnQbtr6R4rCQ2n0LttYuRy0Dez80WpqiwOWw
